<ion-view title="Metric">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="login()">log in</button>
        </div>
    </ion-content>
</ion-view>