<ion-view title="Metric">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username/Email" ng-model="username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="authenticate()">log in</button>
        </div>
    </ion-content>
</ion-view>
